* {
    margin:0;
    padding: 0;
    font-family: Georiga, Georgia, serif ;
    font-size: 12px;
}

svg {
    width: 1000px;
    height: 600px;
    margin: 0;
    padding: 0;
}

text {
    fill: black;
    text-anchor: middle;
}

th {
    width: 35%;
}
